block variables
- var title = 'Самые высокие здания и сооружения'
	-
		var dictMenu = {'Главная': 'index.html', 
				'Небоскребы' : "#",  
				'Башни': "#", 
				'Список': "#"
		}
		
	- var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg']

	- 
		var listSections = [
			{'header' : 'Бурдж-Халифа в Дубае, ОАЭ',
			'image' : 'image7.jpg', 
			'text' : 'Небоскрёб высотой 828 метров, самое высокое сооружение в мире. Форма здания напоминает сталагмит.'
			},
			{'header' : 'Токийское небесное дерево, Япония',
			'image' : 'image6.jpg', 
			'text' : 'Телевизионная башня в районе Сумида самая высокая среди телебашен мира. Высота телебашни вместе с антенной составляет 634 метра.'
			},
			{'header' : 'CN Tower, Канада',
			'image' : 'image8.jpg', 
			'text' : 'Си-Эн Тауэр  — самое высокое свободно стоящее сооружение в мире с 1976 по 2007 год. Его высота составляет 553,33 метра.'
			}
		]